<div class="home-center">
  <div class="hx:overflow-hidden hx:rounded-lg shadow-lg">
    <!-- Carousel -->
    <div class="carousel">
      <!-- Slide 1 -->
      <div class="carousel-item p-6">
        <a href="works/#unchained-at-last-learning-design-solution-proposal">
          <img src="images/ss-ual.png" alt="Slide 1" class="w-full h-64 object-cover rounded-md">
        </a> 
      </div>
      
      <!-- Slide 2 -->
      <div class="carousel-item p-6">
        <a href="works/#cts-classroom-control-quickstart-guides">
          <img src="images/ss-200.gif" alt="Slide 2" class="w-full h-64 object-cover rounded-md">
        </a>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item p-6">
        <a href="works/#microlearning-as-disruptive-education">
          <img src="images/ss-CDP.png" alt="Slide 3" class="w-full h-64 object-cover rounded-md">
        </a>
      </div>
      
      <!-- Slide 4 -->
      <div class="carousel-item p-6">
        <a href="works/#what-is-microlearning-a-short-lesson">
          <img src="images/ss-microlearning.png" alt="Slide 4" class="w-full h-64 object-cover rounded-md">
        </a>
      </div>
    </div>
  </div>
</div>
